<h3>FOOTER</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima id
  temporibus expedita nulla iste dolore labore aspernatur sunt culpa. Fugit
  aspernatur laborum ut corporis quibusdam nobis eligendi quis, itaque
  voluptatum.</p>